<h1>ng if databinding</h1>
<div>
	<button type="button" (click)="isShow = !isShow">ngIf with model</button>
	<input type="text" value="{{isShow}}">
	<label *ngIf="isShow; else hiding"> switching label - when isShow true this label shown</label>
	<ng-template #hiding>
		<label>when isShow false this label shown</label>
	</ng-template>
</div>

<h1>ng for</h1>
<div>
	<ul>
		<li *ngFor="let animal of animals; let idx = index">{{idx}} {{animal}}</li>
	</ul>
</div>

<h1>ng switch</h1>
<div>
	<span [ngSwitch]="animal">
		<span *ngSwitchCase="'Dog'">멍</span>
		<span *ngSwitchCase="'Cat'">냐</span>
		<span *ngSwitchCase="'Cock'">꼬끼</span>
		<span *ngSwitchDefault>엄섬</span>
	</span>
</div>