<md-toolbar>mouse point logger</md-toolbar>
<app-mouse-point-logger></app-mouse-point-logger>

<md-toolbar>ng-directives</md-toolbar>
<app-ng-directives></app-ng-directives>

<md-toolbar>계수기</md-toolbar>
<app-number-counter></app-number-counter>

<md-toolbar>다국어 환영 인사 서비스</md-toolbar>
<app-welcome-msg></app-welcome-msg>
<app-lang-selector></app-lang-selector>