<div class="counter" [style.backgroundColor]="colorByValue()">{{curVal}}</div>
<div class="row buttons">
	<button type="button" (click)="inc()">+</button>
	<button type="button" (click)="dec()">-</button>
</div>
<div class="row manual-action">
	<label for="manual-val">수동 설정:</label>
	<input type="number" id="manual-val" [(ngModel)]="manualVal">
	<button type="button" (click)="setValueForcibly()">수동 저장</button>
</div>
