:host {
	display: inline-block;
	padding: 5px;
	border: 1px solid darkslategrey;
}

.track-zone {
	width: 200px;
	height: 200px;
	vertical-align: top;
	background-color: lightblue;
	border: 1px solid grey;
	display: inline-block;
}